*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
body{
    overflow-x: hidden;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/*box 2*/

.par1{
    color: #cccccc;
    font-size: 12px;
    margin-left: 15px;
}
.par2{
    color: white;
    font-size: 14px;
    margin-left: 3px;
}
.address-icon{
    display: flex;
    align-items: center;
}
.border1{
    border: 1.5px solid transparent;
}
.border1:hover{
    border: 1.5px solid white;
}
/*box 3*/
.nav-search{
    display: flex;
    justify-content:space-evenly;
    background-color: orange;
    width: 620px;
    height: 37px;
    border-radius: 3px;
}
.item-search{
    background-color: #f3f3f3;
    width: 50px;
    text-align: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
.Search-Amazon{
    width: 100%;
    font-size: 15px;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
    font-weight: bold;
    border: none;
    padding: auto;
}
.nav-search:hover{
    border: 2px solid orange;
}
.country p{
    font-size: 14px;
}
.world-icon{
    width: 20px;
    border-radius: 2px;
}
.world-icon img{
    width: 100%;
}
/*box 4*/
span{
    font-size: 12px;
}
.par3{
    font-size: 14px;
    font-weight: 700;
}
/*box 6*/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 14px;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-opt p{
    display: inline;
    margin-left: 15px;
}
.panel-opt{
    width: 70%;
    font-size: 14.5px;
}
.panel-deals{
    font-size: 15px;
    font-weight: 700;
}
#open-nav-sidebar {
    cursor: pointer;
}

.sidebar-container-navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
    transform: translateX(-100%);
    display: flex;
    transition: transform 0.3s;
}

.slidebar-show {
    transform: translateX(0%);
    background-color: rgba(0, 0, 0, 0.7);
}

.sidebar-left-part {
    background-color: white;
    width: 365px;
    height: 100%;
    box-sizing: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.sidebar-top {
    display: flex;
    align-items: center;
    padding: 12px;
    padding-left: 30px;
    background-color: rgb(19, 25, 33);
    color: white;
}

.sidebar-top h2 {
    font-size: 22px;
    margin: 0;
}

.sidebar-item {
    padding-left: 20px;
    border-top: 1.5px solid #ccc;
    margin: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
}

.sidebar-item h2 {
    font-size: 20px;
}

.sidebar-item p {
    color: rgb(65, 62, 62);
    margin-top: 10px;
    font-family: Arial, sans-serif;
}
#sidebar-navigation-close {
    background-color: transparent;
    align-self: flex-start;
    font-size: 30px;
    border: none;
    color: white;
    padding: 20px;
    cursor: pointer;
}

.sidebar-wrap {
    height: 100%;
    overflow: auto;
    padding-bottom: 100px;
}
/** her0 ection**/
.hero-section{
    position: relative;
    overflow: hidden;;
}
.scrolling-images{
    display: flex;
}
.image-item{
    min-width: 100%;
    transition: transform 0.3s;
}
.image-item img{
    width: 100%;
    height: 100%;
}
.btn{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btnn{
    border: 1px solid transparent;
    padding: 100px 20px;
    font-size: 50px;
    font-weight: 300;
    background-color: transparent;
    color: black;
}
.btnn:focus{
    border-color: seagreen;
    box-shadow: -10px -10px -10px rgb(210, 227, 227),
    2px 2px 2px white;
    margin: 2px;
}
.hero-message{
    background-color: white;
}
.hero-message a{
    text-decoration: none;
    color: #007185;
}
.main{
    position: relative;
    top: -300px;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23.75%;
    background-color: white;
    margin-top: 5px;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.img{
    height: 300px;
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content1{
    margin-left: 10px;
    margin-right: 10px;
}
.shop-section h3{
    color: #007185;
}
footer{
    margin-top: -270px;
}
.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.foot-panel1 a{
    text-decoration: none;
    color: white;
}
.foot-panel2{
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
}
.foot-panel2 a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 12px;
    margin-top: 10px;
}
.foot-panel2 p{
    margin-top: 15px;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border: 1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 78px;
}
.pages{
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
}
.pages a{
    text-decoration: none;
    color: white;
}
.copyright{
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}
@media screen and (max-width: 1024px) {
            .navbar {
                flex-direction: column;
                height: auto;
            }
            .nav-search {
                width: 80%;
            }
            .shop-section .box {
                width: 45%;
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 768px) {
            .navbar {
                height: auto;
                flex-direction: column;
                align-items: center;
            }
            .nav-search {
                width: 90%;
            }
            .shop-section .box {
                width: 80%;
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 500px) {
            .navbar {
                height: auto;
                flex-direction: column;
                align-items: center;
            }
            .nav-search {
                width: 100%;
            }
            .shop-section .box {
                width: 100%;
                margin-top: 20px;
            }
            .main {
                font-size: 10px;
                width: 100%;
            }
        }